.buttonsContainer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    max-width: 650px;
}

.responseContainer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
}

.imageContainer {
    max-width: 400px;
}

.image {
}

.textContainer{
    max-width: 400px;
}

.code {
    font-size: 30px;
    font-weight: 500;
    font-size: 30px;
    line-height: 37px;
    margin-bottom: 20px;
}

.text {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
}
.info {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
}