.tech {
    width: 50vw;
}

.developer {

}

.techHeader {
    width: 50vw;
}

.developerHeader {

}

.row {
    display: flex;
    font-size: 16px;
    line-height: 24px;
    padding: 12px;
    border-bottom: 1px solid #E5E5E5;
}

.rowHeader {
    margin-top: 40px;
    display: flex;
    background-color: #E5E5E5;
    height: 40px;
    align-items: center;
    padding-left: 19px;
    font-weight: bold;
    font-size: 14px;
}

.loading {

}